@charset "utf-8";
/* CSS Document */

div.pagination {
	padding: 3px;
	margin: 3px;
    float:right;
    font-size: 13px;
}

div.pagination a {
	padding: 5px 8px;
	margin: 2px; color: #000000;
	border: 1px solid #2a2f43;
	text-decoration: none; /* no underline */
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #67d3e0;
	color: #000;
}
div.pagination span.current {
	padding: 5px 8px;
	margin: 2px;
	border: 1px solid #000099;
	font-weight: bold;
	background-color: #2a2f43;
	color: #67d3e0;
}
div.pagination span.disabled {
	padding: 5px 5px 5px 5px;
	margin: 2px; color: #DDD;
	border: 1px solid #EEE;
}
